<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="lefthead col-10">
                <h1>Welcome to the Wedding Planner</h1>
            </div>
            <div class="righthead col-2">
                <a href="/logout">Logout</a>
            </div>
        </div>
        <table class="table table-dark">
            <thead>
                <tr>
                    <th scope="col">Wedding</th>
                    <th scope="col">Date</th>
                    <th scope="col">Guest</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>People getting married</td>
                    <td>Date of Wedding</td>
                    <td># of guests</td>
                    <td>type of action</td>
                </tr>
            </tbody>
        </table>
        <button class="text-right">New Wedding</button>
    </div>
</body>
</html>