*{
    margin: 0px;
    padding: 0px;
}

.nav{
    justify-content: center;
}

.projects h1{
    text-align: center;
    margin-top: 100px;
}

.desc{
    margin-left: 50px;
    width: 590px;
}

.project1 img{
    margin-left: 115px;
    width: 150px;
}

.project1, .desc{
    display: inline-block;
}

.project2 img{
    margin-left: 115px;
    width: 150px;
}

.project2, .desc{
    display: inline-block;
}

.project3 img{
    margin-left: 115px;
    width: 150px;
}

.project3, .desc{
    display: inline-block;
}

.project1, .project2, .project3{
    margin-top: 50px;
}