<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="~/CSS/style.css"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <div class="row nav">
            <div class="navbar col-sm-5">
                <a href="/">Home</a> |
                <a href="/projects">Projects</a> |
                <a href="/contact">Contact</a>
            </div>
        </div>
        <div class="row me">
            <h1>About Me</h1>
        </div>
        <div class="name">
            <img src="https://image.shutterstock.com/image-vector/fat-ninja-funny-pose-260nw-1060809269.jpg" alt="Coding Ninja">
            <p>Fabian Gonzalez</p>
            <p>Let's Code!!!</p>
        </div>
        <div class="info">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin id varius elit. Sed varius ipsum id accumsan convallis. Quisque sapien urna, placerat eu metus maximus, sollicitudin maximus ligula. Maecenas aliquam, nibh non accumsan placerat, leo sapien accumsan nisi, in pharetra lectus sem at velit. Phasellus leo tortor, sollicitudin nec dui sit amet, ultrices finibus nulla. Mauris vulputate risus turpis, ac ullamcorper dolor sodales eget. Praesent efficitur ac ligula ut sollicitudin. Suspendisse mollis felis eleifend dictum mattis.
            </p>
        </div>
    </div>
</body>
</html>