<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <title>Word Generator</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="container">
        <div class="header">
            <h1>Random Word (attempt #{{ request.session.counter }})</h1>
        </div>
        <div class="words">
            <p>{{ random_word }}</p>
        </div>
        <div class="generator">
            <a href="/addtocount" =button><button>Generate</button></a>
            <a href="/resetattempt" =button><button>Reset Attempts</button></a>
        </div>
    </div>
</body>
</html>