@model Dish

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Dish</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body>
    <form asp-action="Create" asp-controller="Home" method="POST">
        <div class="row">
            <div class="form-group">
                <span asp-validation-for="ChefName"></span>
                <label asp-for="ChefName"></label>
                <input class="form-control" asp-for="ChefName">
            </div>
            <div class="form-group">
                <span asp-validation-for="DishName"></span>
                <label asp-for="DishName"></label>
                <input class="form-control" asp-for="DishName">
            </div>
            <div class="form-group">
                <span asp-validation-for="Calories"></span>
                <label asp-for="Calories"></label>
                <input class="form-control" asp-for="Calories">
            </div>
        </div>
        <div class="col-4">
            <div class="form-group">
                <span asp-validation-for="Tastiness"></span>
                <label asp-for="Tastiness"></label>
                <select asp-for="Tastiness" class="form-control">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
            </div>
        </div>
        <div class="col-4">
            <div class="form-group">
                <span asp-validation-for="Description"></span>
                <label asp-for="Description"></label>
                <textarea asp-for="Description" class="form-control" rows="6"></textarea>
            </div>
        </div>
        <div class="button">
            <input type="submit" class="btn btn-secondary" value="Add Dish">
        </div>
    </form>
</body>
</html>