<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    @{
        var StringList = new List<string>
            {
                "Apple Pie",
                "Burritos",
                "Clams Casino",
                "Donuts"
            };

            foreach(var word in StringList)
            {
                @if(word.StartsWith('C'))
                {
                    <span style="color:red">@word</span>
                }
                else
                {
                    <p>@word</p>
                }
            }
    }
</body>
</html>