<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LogIn and Registration</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <div class="reg">
            <h1>Registration</h1>
            <form action="/add_user" method="POST">
                {% csrf_token %}
                <div class="fname">
                    {% for message in messages %}
                    {% if message.extra_tags == "first_name" %}
                    <span class="col-sm-12 text-danger">{{ message }}</span>
                    {% endif %}
                    {% endfor %}
                    <label for="first_name">First Name</label>
                    <input type="text" name="first_name" class="col-sm-4 form-control">
                </div>
                <div class="lname">
                    {% for message in messages %}
                    {% if message.extra_tags == "last_name" %}
                    <span class="col-sm-12 text-danger">{{ message }}</span>
                    {% endif %}
                    {% endfor %}
                    <label for="last_name">Last Name</label>
                    <input type="text" name="last_name" class="col-sm-4 form-control">
                </div>
                <div class="email">
                    {% for message in messages %}
                    {% if message.extra_tags == "email" %}
                    <span class="col-sm-12 text-danger">{{ message }}</span>
                    {% endif %}
                    {% endfor %}
                    <label for="email">Email</label>
                    <input type="email" name="email" class="col-sm-4 form-control">
                </div>
                <div class="password">
                    {% for message in messages %}
                    {% if message.extra_tags == "password" %}
                    <span class="col-sm-12 text-danger">{{ message }}</span>
                    {% endif %}
                    {% endfor %}
                    <label for="password">Password</label>
                    <input type="text" name="password" class="col-sm-4 form-control">
                </div>
                <div class="confpw">
                    {% for message in messages %}
                    {% if message.extra_tags == "confpw" %}
                    <span class="col-sm-12 text-danger">{{ message }}</span>
                    {% endif %}
                    {% endfor %}
                    <label for="confpw">Confirm Password</label>
                    <input type="text" name="confpw" class="col-sm-4 form-control">
                </div>
                <div class="submit">
                    <input type="submit" class="btn btn-primary" value="Register">
                </div>
            </form>
        </div>
        <div class="login">
            <h1>Login</h1>
            <form action="/login" method="POST">
                {% csrf_token %}
                {% for message in messages %}
                {% if message.extra_tags == "login" %}
                <span class="col-sm-12 text-danger">{{ message }}</span>
                {% endif %}
                {% endfor %}
                <div class="loginemail">
                    <label for="loginemail">Email</label>
                    <input type="email" name="email" class="col-sm-4 form-control">
                </div>
                <div class="loginpw">
                    <label for="loginpw">Password</label>
                    <input type="password" name="password" class="col-sm-4 form-control">
                </div>
                <div class="loginbutton">
                    <input type="submit" class="btn btn-primary" value="Login">
                </div>
            </form>
        </div>
    </div>
</body>
</html>