<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Authors</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style2.css' %}">
</head>
<body>
    <div class="container">
        <div class="form">
            <h1>Add an Author</h1>
            <form action="/new_author" method="POST">
            {% csrf_token %}
                <label class="fname" for="first_name">First Name</label>
                <input type="text" name="first_name">
                <br>
                <label class="lname" for="last_name">Last Name</label>
                <input type="text" name="last_name">
                <br>
                <label class="note" for="notes">Notes</label>
                <textarea name="notes" cols="30" rows="10"></textarea>
                <br>
                <input type="submit" value="Add">
            </form>
        </div>
        <div class="table">
            <table>
                {% for authors in list_of_authors %}
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Action</th>
                </tr>
                <tr>
                    <td>{{ authors.id }}</td>
                    <td>{{ authors.first_name }} {{ authors.last_name }}</td> 
                    <td><a href="/authors/{{authors.id}}">View</a></td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</body>
</html>