.App {
  text-align: center;
}

#nameinput{
    margin-left: 520px;
}

#quoteinput{
    margin-left: 520px;
}

#table{
    margin-left: 320px;
}

#table2{
    width: 500px;
    margin-left: 400px;
    margin-top: 20px;
}