@model User

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
</head>
<body>
    <div class="container">
        <form asp-action="MakeReg" asp-controller="User" method="POST">
            <div class="form-group">
                <label asp-for="FirstName" class="col-4"></label>
                <span asp-validation-for="FirstName" class="text-danger"></span>
                <input asp-for="FirstName" class="form-control col-8">
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="col-4"></label>
                <span asp-validation-for="LastName" class="text-danger"></span>
                <input asp-for="LastName" class="form-control col-8">
            </div>
            <div class="form-group">
                <label asp-for="Email" class="col-4"></label>
                <span asp-validation-for="Email" class="text-danger"></span>
                <input asp-for="Email" class="form-control col-8">
            </div>
            <div class="form-group">
                <label asp-for="Password" class="col-4"></label>
                <span asp-validation-for="Password" class="text-danger"></span>
                <input asp-for="Password" class="form-control col-8">
            </div>
            <div class="form-group">
                <label asp-for="PasswordConfirm" class="col-4"></label>
                <span asp-validation-for="PasswordConfirm" class="text-danger"></span>
                <input asp-for="PasswordConfirm" class="form-control col-8">
            </div>
            <div class="button">
                <input type="submit" class="btn btn-secondary" value="Register">
            </div>
        </form>
    </div>
</body>
</html>