<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List of Shows</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <div class="container">
        <h1>Shows</h1>
        <table class="table">
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Network</th>
                <th>Release Date</th>
                <th>Actions</th>
            </tr>
            {% for shows in all_shows %}
            <tr>
                <td>{{shows.id}}</td>
                <td>{{shows.title}}</td>
                <td>{{shows.network}}</td>
                <td>{{shows.release_date}}</td>
                <td><a href="/shows/{{shows.id}}">Show</a>|<a href="/shows/{{shows.id}}/edit">Edit</a>|<a href="/shows/{{shows.id}}/delete">Delete</a></td>
            </tr>
            {% endfor %}
        </table>
        <div class="row">
            <a href="/shows/new">Add a Show</a>
        </div>
    </div>
</body>
</html>